<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright © 2016, Oracle and/or its affiliates. All rights reserved -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>jersey</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>oracle.cloud.sampleapps</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>jersey</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
   
   <!--OWSM Security Filter -->
  <filter>
    <filter-name>OWSMSecurityFilter</filter-name>
    <filter-class>oracle.wsm.agent.handler.servlet.SecurityFilter</filter-class>
    <init-param>
      <param-name>servlet-name</param-name>
      <param-value>jersey</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>OWSMSecurityFilter</filter-name>
    <servlet-name>jersey</servlet-name>
  </filter-mapping>
  <login-config>
  </login-config>
</web-app>